USE [master]
GO
/****** Object:  Database [PackageDelivery]    Script Date: 3/29/2024 1:05:27 PM ******/
CREATE DATABASE [PackageDelivery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PackageDelivery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PackageDelivery.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PackageDelivery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PackageDelivery_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PackageDelivery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PackageDelivery]
GO
/****** Object:  User [yegor]    Script Date: 3/29/2024 1:05:27 PM ******/
CREATE USER [yegor] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [packageDelivery]    Script Date: 3/29/2024 1:05:27 PM ******/
CREATE USER [packageDelivery] FOR LOGIN [packageDelivery] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [packageDelivery]
GO
/****** Object:  Table [dbo].[ADDR_TBL]    Script Date: 3/29/2024 1:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDR_TBL](
	[ID_CLM] [int] IDENTITY(1,1) NOT NULL,
	[STR] [char](300) NULL,
	[CT_ST] [char](200) NULL,
	[ZP] [char](5) NULL,
	[DLVR] [int] NULL,
 CONSTRAINT [PK_ADDR_TBL] PRIMARY KEY CLUSTERED 
(
	[ID_CLM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DLVR_TBL]    Script Date: 3/29/2024 1:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DLVR_TBL](
	[NMB_CLM] [int] IDENTITY(1,1) NOT NULL,
	[CSTM] [int] NULL,
	[STS] [char](1) NULL,
	[ESTM_CLM] [float] NULL,
	[PRD_LN_1] [int] NULL,
	[PRD_LN_1_AMN] [char](2) NULL,
	[PRD_LN_2] [int] NULL,
	[PRD_LN_2_AMN] [char](2) NULL,
 CONSTRAINT [PK_DLVR_TBL] PRIMARY KEY CLUSTERED 
(
	[NMB_CLM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DLVR_TBL2]    Script Date: 3/29/2024 1:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DLVR_TBL2](
	[NMB_CLM] [int] NOT NULL,
	[PRD_LN_3] [int] NULL,
	[PRD_LN_3_AMN] [char](2) NULL,
	[PRD_LN_4] [int] NULL,
	[PRD_LN_4_AMN] [char](2) NULL,
 CONSTRAINT [PK_DLVR_TBL2] PRIMARY KEY CLUSTERED 
(
	[NMB_CLM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P_TBL]    Script Date: 3/29/2024 1:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P_TBL](
	[NMB_CLM] [int] IDENTITY(1,1) NOT NULL,
	[NM_CLM] [char](100) NULL,
	[ADDR1] [int] NULL,
	[ADDR2] [int] NULL,
 CONSTRAINT [PK_P_TBL] PRIMARY KEY CLUSTERED 
(
	[NMB_CLM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRD_TBL]    Script Date: 3/29/2024 1:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRD_TBL](
	[NMB_CM] [int] IDENTITY(1,1) NOT NULL,
	[NM_CLM] [char](100) NULL,
	[DSC_CLM] [char](500) NULL,
	[WT] [float] NULL,
	[WT_KG] [float] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADDR_TBL] ON 

SET IDENTITY_INSERT [dbo].[ADDR_TBL] OFF
GO
SET IDENTITY_INSERT [dbo].[DLVR_TBL] ON 

INSERT [dbo].[DLVR_TBL] ([NMB_CLM], [CSTM], [STS], [ESTM_CLM], [PRD_LN_1], [PRD_LN_1_AMN], [PRD_LN_2], [PRD_LN_2_AMN]) VALUES (20, 1, N'R', 120.2, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DLVR_TBL] OFF
GO
SET IDENTITY_INSERT [dbo].[P_TBL] ON 

INSERT [dbo].[P_TBL] ([NMB_CLM], [NM_CLM], [ADDR1], [ADDR2]) VALUES (1, N'Macro Soft                                                                                          ', 1, NULL)
INSERT [dbo].[P_TBL] ([NMB_CLM], [NM_CLM], [ADDR1], [ADDR2]) VALUES (2, N'Devices for Everyone                                                                                ', 2, NULL)
INSERT [dbo].[P_TBL] ([NMB_CLM], [NM_CLM], [ADDR1], [ADDR2]) VALUES (3, N'Kwik-E-Mart                                                                                         ', 3, NULL)
SET IDENTITY_INSERT [dbo].[P_TBL] OFF
GO
SET IDENTITY_INSERT [dbo].[PRD_TBL] ON 

INSERT [dbo].[PRD_TBL] ([NMB_CM], [NM_CLM], [DSC_CLM], [WT], [WT_KG]) VALUES (2, N'myPhone                                                                                             ', NULL, NULL, 0.5)
SET IDENTITY_INSERT [dbo].[PRD_TBL] OFF
GO
USE [master]
GO
